*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079ff;
    --btn-hover: #60abff;
  }

  .wrapper {
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text);
    width: 100%;
    position: relative;
    height: 100vh;
  }

  .container{
    width: 730px;
    height: 684px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .head > p{
    font-family: "Space Mono", monospace;
    font-size: 30px;
    text-align: start;
    letter-spacing: normal;
    line-height: normal;
    color: var(--lm-text);
    font-weight: bold;
  }

  #btn-mode{
    display: flex;
    /* align-items: baseline; */
    justify-content: center;
    gap:2.2em;
  }

  #mode-text{
    font-weight: bold;
    letter-spacing: 0.25em;
    font-size: 1em;
  }

  .search-box{
    position: relative;
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    display: flex;
    height: 10%;
    padding-right: 10px;
    padding-left: 21px;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(assets/images/search-icon.svg); */
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 20px;
    gap: 1em;
  }

  input[type="text"]{
    border: none;
    width: 56%;
    padding: 3px;
  }
  
  input[type="text"]::placeholder{
    font-size: 19px;
  }

  .paleholderClass::-webkit-input-placeholder {
    color: white;
 }


  input[type="text"]:focus{
    outline: none;
  }

  form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .btn-search{
    min-width: 119px;
    padding: 14px 16px;
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .no-result{
    font-size: 15px;
    color: red;
    font-weight: bold;
    padding-right:1.2em ;
    display: none;
  }

  .hero{
    position: relative;
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    display: flex;
    padding: 2.5em;
    gap: 4em;
    
  }

  #profile-pic{
    border-radius: 50%;
    width: 9em;
    height: 9em;
  }

  .profile-body{
    width: 100%;
  }

  .profile-name{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2em;
  }

  .profile-name div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5em;
  }

  .profile-name a:visited{
      color: #0079ff;
  }

  #name{
    color: var(--lm-text-alt);
    font-size: 25px;
  }

  #date{
    font-size:1.2em !important;
  }

  #bio p:first-child{
    font-size: 15px;
    opacity: 0.7;
    padding-bottom: 2em;
  }

  #profile-stats{
    display: flex;
    /* justify-content: flex-start; */
    background-color: var(--lm-bg);
    gap: 6em;
    /* text-align: center; */
    border-radius: 10px;
    padding: 1.8em;   
    flex-wrap: wrap;
  }

  .stats p:nth-child(2){
       font-size: 1.6em;
       font-weight: bold;
       margin-top:0.5em;
       color: var(--lm-text-alt);
  }

  .profile-bottom-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 3em;
    gap: 2em;
    padding-left: 1.7em;
  }

  .profile-info{
    display: flex;
    justify-content: baseline;
    gap: 1.6em;
    word-break: break-all;
  }

  .profile-info p {
    overflow-wrap: break-word;
  }
  
  .profile-info a {
    color: var(--lm-text);
    word-break: break-all;
  }

/* 
  .dark-wrapper{
    background-color:var(--lm-)
  } */


  /* Tablets */
  @media screen and (max-width: 770px) {
    .container {
      width: 573px;
      height: 684px;
    }

    .profile-name div:first-child {
      flex-direction: column;
  }

  .hero{
    display: inline;
  }

  .profile-body{
    margin-top: -29%;
  }

  #profile-pic{
    margin-left: 71%;
  }
    
  }
  

  @media screen and (max-width: 600px) {
    .container {
      width: 400px;
      height: 684px;
    }

    input[type="text"]::placeholder{
      font-size: 13px;
    }

    .btn-search {
      min-width: 93px;
      padding: 14px 16px;
      font-size: 14px;
  }

  #profile-stats {
    gap:4em;
  }

  .profile-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-top: 3em;
    gap: 2em;
    padding-left: 1.7em;
    font-size: larger;
  }

  .container {
    top: 44%;
  }
    
  }


 